body {
  max-width: 600px;
  display: block;
  margin: 0 auto;
  background-color: #f4efeb;
}
#world-clock-app {
  background-color: white;
  margin-top: 30px;
  border-radius: 15px;
  padding: 20px;
  font-family: "Poppins", sans-serif;
  box-shadow: 7px 7px 7px rgba(57, 57, 57, 0.2);
}

h1 {
  text-align: center;
  padding-bottom: 20px;
  color: #063049;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 40px;
}

#dropdown {
  margin: 0 auto;
  padding: 10px;
  color: #063049;
}
#displayed-cities {
  color: #f4efeb;
}
footer {
  text-align: center;
  color: #063049;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 15px;
  padding: 20px;
}

#paris {
  text-align: left;
  font-size: larger;
  font-weight: bold;
  padding: 15px;
  background-color: #e7703b;
  border-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
#new-york {
  text-align: left;
  font-size: larger;
  font-weight: bold;
  padding: 15px;
  background-color: #ecbba7;
  border-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
#vancouver {
  text-align: left;
  font-size: larger;
  font-weight: bold;
  padding: 15px;
  background-color: #c5b5d3;
  border-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
#city {
  text-align: left;
  font-size: larger;
  font-weight: bold;
  padding: 15px;
  background-color: #063049;
  border-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

#paris-date {
  font-size: small;
  font-weight: normal;
}
#new-york-date {
  font-size: small;
  font-weight: normal;
}
#vancouver-date {
  font-size: small;
  font-weight: normal;
}

#city-date {
  font-size: small;
  font-weight: normal;
}

#paris-time {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  padding: 15px;
  background-color: #e7703b;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
#new-york-time {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  padding: 15px;
  background-color: #ecbba7;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
#vancouver-time {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  padding: 15px;
  background-color: #c5b5d3;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

#city-time {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  padding: 15px;
  background-color: #063049;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
